/* navbar */
.navbar-item
{
    padding-bottom:0px;
    padding-top:0px;
}
.button 
{
    background-color:rgb(196, 102, 196);
    color: white;
}

h1,h2 
{
    line-height: 1em;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 1020px)
{
    .section_objective 
    {
        padding-left:140px;
        padding-right:140px;
    }
   
}

.good_company .socialchain 
{
    height: 60px;
    width:60px;
}
.good_company .sony-music 
{
    height:60px;
    width:138px;
}

.good_company .universal-music-group 
{
    height:60px;
    width:160px;

}

@media only screen and (min-width: 1020px)
{
    .ceo 
    {
        padding-left:140px;
        padding-right:140px;
    }
}


.ceo .is-rounded 
{
    width:80px;
    height:80px;
    border-radius: 50%;
}

.footer a 
{
    color:rgb(196, 102, 196);
}